@font-face {
    font-family: "Cinzel";
    src: url("../fonts/Cinzel-Regular.woff") format("woff");
    src: url("../fonts/Cinzel-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cinzel";
    src: url("../fonts/Cinzel-Bold.woff") format("woff");
    src: url("../fonts/Cinzel-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Monsterrat";
    src: url("../fonts/Montserrat-Regular.woff") format("woff");
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.woff") format("woff");
    src: url("../fonts/Montserrat-Light.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.woff") format("woff");
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #f7f7f7;
}

.wrapper {
    max-width: 1160px;
    margin: 0 auto;
}

.introduce {
    background: url("../img/bg.png") no-repeat center top;
    min-height: 1000px;
}

/*****************************************************************************************************
***************************************HEADER*********************************************************/

.logo {
    height: 140px;
    line-height: 140px;
    margin-bottom: -140px;
    text-align: center;
}

.logo__img {
    vertical-align: middle;
}

.header {
    display: flex;

    height: 140px;

    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;

    margin-left: 20px;
}

.search__input {
    font-size: 15px;

    width: 190px;
    height: 35px;
    padding: 0;

    border-top: 1px solid #656565;
    border-right: none;
    border-bottom: 1px solid #656565;
    border-left: 1px solid #656565;
    border-radius: 3px;
    background: #252426;
}

.ea-loop {
    width: 40px;
    height: 35px;
    margin-left: -6px;
    padding: 0;

    border-top: 1px solid #656565;
    border-right: 1px solid #656565;
    border-bottom: 1px solid #656565;
    border-left: none;
    border-radius: 3px;
    background: #252426;
}

.side-menu__item {
    display: flex;

    font: normal 300 1.5rem 'Montserrat', sans-serif;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;

    align-items: center;
}

.ea-cabinet {
    font-size: 25px;
}

/*****************************************************************************************************
***************************************HEADLINE*********************************************************/

.headline {
    overflow: hidden;

    padding: 245px 0 0;
}

.headline__title {
    font: normal bold 8.3rem 'Cinzel', sans-serif;
    color: #fff;

    text-align: center;
}

.headline__slogan {
    font: normal normal 3.4rem 'Cinzel', sans-serif;
    padding-top: 30px;
    color: #fff;

    text-align: center;
}

/*****************************************************************************************************
***************************************CONTENT*********************************************************/

.content {
    display: flex;
    margin-top: -92px;
    background: #fff;
    height: 185px;
    align-items: center;

    box-shadow: 0 17px 40px rgba(0, 0, 0, .11);
}

.content__headline {
    background: url('../img/logo2.png') no-repeat 40px;
    flex: 3;
    font: 400 1.8rem 'Cinzel', sans-serif;
    padding: 70px 20px 40px 120px;
    color: #000;
    height: 100%;
}

.content__headline_orange {
    font: normal 1.8rem 'Cinzel', sans-serif;
    color: #ff601a;
}

.content__btn {
    margin: 0 40px;
    flex: 1;
    position: relative;
}

.content__link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    height: 64px;
    width: 321px ;
    font: normal 2rem 'Cinzel', sans-serif;
    text-decoration: none;


     transition-timing-function: ease;
     transition-duration: 0.2s;
     transition-property: background;

    text-transform: uppercase;

    color: #ff601a;
    border: 1px solid #ff601a;
    background: #fff;
}


.content__btn::before,
.content__btn::after{
    display: block;
    position: absolute;

    height: 110%;
    width: 102%;
    content: "";

    border: 1px solid #ff601a;
    z-index: 1;
}

.content__btn::before {
    bottom: 0;
    right: 0;
}

.content__btn::after{
    top: 0;
    left: 0;
}

.content__link:hover {
    opacity: 1;
    color: #fff;
    background: #ff601a;
}

/*****************************************************************************************************
***************************************PREVIEW*********************************************************/

.preview {
    display: inline-flex;

    width: 1160px;
    height: 700px;

    align-items: center;
    justify-content: center;
}

.preview_secondary {
    position: relative;
    z-index: 1;
    right: -60px;

    box-shadow: 11px 24px 74px 0 rgba(99, 91, 99, 1);
}

.preview_primary {
    box-shadow: 11px 24px 74px 0 rgba(99, 91, 99, 1);
}



